body,
html {
  width: 100%;
  height: 100%;
}

body {
  font-family: 'Roboto', sans-serif;
}

.btn-xl {
  padding: 1.25rem 2.5rem;
}

.content-section {
  padding-top: 7.5rem;
  padding-bottom: 7.5rem;
}

.content-section-heading h2 {
  font-size: 2rem;
}

.content-section-heading h3 {
  font-size: 1rem;
  text-transform: uppercase;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
}

.text-faded {
  color: rgba(255, 255, 255, 0.7);
}

/* Map */
.map {
  height: 30rem;
}

@media (max-width: 992px) {
  .map {
    height: 75%;
  }
}

.map iframe {
  pointer-events: none;
}

.scroll-to-top {
  position: fixed;
  right: 15px;
  bottom: 15px;
  display: none;
  width: 50px;
  height: 50px;
  text-align: center;
  color: white;
  background: rgba(52, 58, 64, 0.5);
  line-height: 45px;
}

.scroll-to-top:focus, .scroll-to-top:hover {
  color: white;
}

.scroll-to-top:hover {
  background: #343a40;
}

.scroll-to-top i {
  font-weight: 700;
}

.masthead {
	position: relative;
	display: table;
	padding-top: 8rem;
	padding-bottom: 8rem;
	background: linear-gradient(90deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0.2) 100%), url("../img/bg-s.jpg");
	background-repeat: no-repeat;
	width: 100%;
	height: 60vh;
	background-attachment: fixed;
}

.masthead h1 {
  font-weight: 900;
  font-size: 3rem;
  margin: 0;
  padding: 0;
}

.masthead h3 {
  font-weight: 100;
  font-size: 2rem;
}

.masthead p {
	font-weight: 100;
	font-size: 1rem;
/*	font-style: oblique;*/
}

.masthead a {
	margin-top: 50px;
}


@media (min-width: 6005px) {
	.masthead {
		background: linear-gradient(90deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0.6) 100%), url("../img/bg-s.jpg");
	}
}

@media (min-width: 768px) {
	.masthead {
		background: linear-gradient(90deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0.6) 100%), url("../img/bg-m.jpg");
	}
}

@media (min-width: 991px) {
  .masthead {
	background: linear-gradient(90deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0.2) 100%), url("../img/bg-l.jpg");
	background-attachment: fixed;
  }
  .masthead h1 {
    font-size: 4rem;
  }
}

@media (min-width: 1199px) {
	.masthead {
		background: linear-gradient(90deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0.6) 100%), url("../img/bg-xl.jpg");
		background-position: center left;
	}
}

@media (min-width: 2400px) {
	.masthead {
		background: linear-gradient(90deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0.6) 100%), url("../img/bg-xxl.jpg");
	}
}

.member-masthead {
	background: url("../img/cruiseterminal.jpg");
	padding-bottom: 8rem;
	height: 50vh;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
}

.service-icon {
  background-color: #fff;
  color: #000000;
  height: 7rem;
  width: 7rem;
  display: block;
  line-height: 7.5rem;
  font-size: 2.25rem;
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.1);
}

.callout h2 {
  font-size: 3.5rem;
  font-weight: 700;
  display: block;
  max-width: 30rem;
}

footer.footer {
  padding-top: 5rem;
  padding-bottom: 5rem;
}

footer.footer .social-link {
  display: block;
  height: 4rem;
  width: 4rem;
  line-height: 4.3rem;
  font-size: 1.5rem;
  background-color: #000000;
  transition: background-color 0.15s ease-in-out;
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.1);
}

footer.footer .social-link:hover {
  background-color: #4a4a4a;
  text-decoration: none;
}

a {
  color: #000000;
}

a:hover, a:focus, a:active {
  color: #d6a706;
}

.btn-primary {
  background-color: #000000 !important;
  border-color: #000000 !important;
  color: #fff !important;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active {
  background-color: #4a4a4a !important;
  border-color: #4a4a4a !important;
}

.btn-secondary {
  background-color: #ecc139 !important;
  border-color: #ecc139 !important;
  color: #fff !important;
}

.btn-secondary:hover, .btn-secondary:focus, .btn-secondary:active {
  background-color: #d6a706 !important;
  border-color: #d6a706 !important;
}

.btn-dark {
  color: #fff !important;
}

.btn {
  box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.1);
  font-weight: 700;
}

.bg-primary {
  background-color: #000000 !important;
}

.text-primary {
  color: #000000 !important;
}

.text-secondary {
  color: #ecc139 !important;
}

/* Lead paragraph */
.lead {
	font-weight: 100;
}

/* Fellows */
.avatar {
	padding-top:  30px;
	cursor: pointer;
}

.fellows-text {
	padding-left: 20px;
	padding-right: 20px;
}

/* The Overlay */
.overlay {
    height: 0;
    width: 100%;
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    background-color: rgb(255,255,255); /* White fallback color */
    background-color: rgba(255,255,255, 0.95); /* White w/opacity */
    overflow-x: hidden; /* Disable horizontal scroll */
    transition: 0.5s; 
}

.overlay-content {
    position: relative;
    top: 10%; 
    width: 100%; 
	padding-right: 10%;
	padding-left:  10%;
	padding-bottom: 5%;
    margin-top: 40px; /* to avoid conflict with the close button on smaller screens */
}

.overlay .closebtn {
    position: absolute;
    top: 80px;
    right: 45px;
    font-size: 60px;
	z-index: 999;
}

.overlay .closebtn:hover {
	text-decoration: none;
	color: #d6a706;
}

.overlay img {
	height: 400px;
	padding-right: 20px;
	padding-bottom: 20px;
	padding-top: 20px;
	float: left;
}

.overlay p {
	padding-top: 20px;
}

.overlay-content h3 {
	font-weight: 100;
}

@media (max-width: 992px) {
	.overlay img {
		float: none;
		margin-left: auto;
		margin-right: auto;
		width: 100%;
		height: 100%;
	}
	.overlay-content h3 {
		font-size: 1.5em;
	}
	.overlay-content h1 {
		font-size: 2em;
		padding-right: 50px;
	}
	.overlay .closebtn {
		top: 80px;
	}
}

/* When the height of the screen is less than 450 pixels, change the font-size of the links and position the close button again, so they don't overlap */
@media screen and (max-height: 450px) {
    .overlay-content h1 h3 {font-size: 2em}
    .overlay .closebtn {
        font-size: 40px;
        top: 15px;
        right: 35px;
    }
}

@media (max-width: 575px) {
	.join {
		padding-top: 20%;
	}
}

.anchor {
	padding-top: 100px;
}


.navbar {
	border-bottom: 2px solid #868686;
}

.navbar-collapse {
	text-align: right;
	font-weight: 300;
	position: relative;
	right: -100px;
}

@media (max-width: 575px) {
	.navbar-collapse {
		position: relative;
		right: 0px;
		text-align: center;
	}
}

.navbar-toybox {
	font-weight: 500;
	font-size: 1.3em;
	padding-left: 10px;
}

.navbar-borncurious {
	font-weight: 200;
	padding-left: 10px;
	display: block;
	line-height: 0.8em;
}

.navbar-symbol {
	position: relative;
	top: 40px;
}

@media (max-width: 575px) {
	.navbar-symbol {
		position: absolute;
		top: 70px;
		right: 20px;
	}
}

.fellows-spacer {
	height: 80px;
}